package ui

import (
	"github.com/a-h/templ"
	"ui8kit/utils"
)

type BoxProps struct {
	utils.UtilityProps
	Class string
	Tag   string
}

func (p BoxProps) classes() string {
	return utils.Cn(p.UtilityProps.Resolve(), p.Class)
}

templ Box(props BoxProps, children templ.Component) {
	<div class={ props.classes() }>
		@children
	</div>
}
